.TwitchTvChatExt--Container {
    visibility: visible;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc( 100% - 31px ); /* Leave some room at the bottom for the player toolbar */
    opacity: 1;
}
.TwitchTvChatExt--Container:hover {
    opacity: 0.5;
}


.TwitchTvChatExt--Container--TextLine {
    color: whitesmoke;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0;

    font-size: 48px;
    -webkit-text-stroke: 0.3px black;
}


/* https://css-tricks.com/examples/ShapesOfCSS */
.TwitchTvChatExt--Container--TopLeft {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 0;
    height: 0;
    border-top: 50px solid red;
    border-right: 50px solid transparent;
}
.TwitchTvChatExt--Container--TopRight {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    width: 0;
    height: 0;
    border-top: 50px solid red;
    border-left: 50px solid transparent;
}
.TwitchTvChatExt--Container--BottomLeft {
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
    width: 0;
    height: 0;
    border-bottom: 50px solid red;
    border-right: 50px solid transparent;
}
.TwitchTvChatExt--Container--BottomRight {
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
    width: 0;
    height: 0;
    border-bottom: 50px solid red;
    border-left: 50px solid transparent;
}


/* http://stackoverflow.com/questions/6305141/show-chid-div-on-mouse-hover-of-parent-needs-javascript */
.TwitchTvChatExt--Container:hover .TwitchTvChatExt--Container--TopLeft {
    display: block;
}
.TwitchTvChatExt--Container:hover .TwitchTvChatExt--Container--TopRight {
    display: block;
}
.TwitchTvChatExt--Container:hover .TwitchTvChatExt--Container--BottomLeft {
    display: block;
}
.TwitchTvChatExt--Container:hover .TwitchTvChatExt--Container--BottomRight {
    display: block;
}